<% content_for :title, "口コミ詳細ページ" %>
<% content_for :description, "不動産会社の口コミ情報を見ることができます" %>
<% if @review %>
<h1 class="text-center border-bottom border-dark mt-3 mb-3"><%= @review.headline %></h1>
<div class="my-1 ">
    <div>売却した不動産会社名：<%= @company_name %></div>
    <div>住所：<%= @review.city.name %></div>
    <div>売却の理由：<%= @review.reason_for_sale %></div>
    <div>売却経験：<%= @review.number_of_sales %></div>
</div>
<div class="my-5">
    <div class="my-3">
        <div><strong>売却時に不安だったこと</strong></div>
        <div><%= @review.concern_for_sale %></div>
    </div>
    <div class="my-3">
        <div><strong>この会社に決めた決め手</strong></div>
        <div><%= @review.reason_for_choosing_office %></div>
    </div>
    <div class="my-3">
        <div><strong>不動産会社の対応満足度：★<%= @review.support_satisfaction %></strong></div>
        <div><%= @review.reason_for_support_satiosfaction %></div>
    </div>
    <div class="my-3">
        <div><strong>今後売却する人へのアドバイス</strong></div>
        <div><%= @review.advise %></div>
    </div>
    <div class="my-3">
        <div><strong>不動産会社に改善してほしい点</strong></div>
        <div><%= @review.improvement_point %></div>
    </div>
    <div class="my-3">
        <div><strong>売却時期と価格について</strong></div>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">売却検討</th>
                    <th scope="col"><%= @review.sale_consideration_date %></th>
                    <th scope="col">-</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">査定依頼時期/価格</th>
                    <td><%= @review.assessment_request_date %></td>
                    <td><%= @review.assessment_price %></td>
                  </tr>
                  <tr>
                    <th scope="row">売出時期/価格</th>
                    <td><%= @review.selling_date%></td>
                    <td><%= @review.selling_price%></td>
                  </tr>
                  <tr>
                    <th scope="row">売却時期/価格</th>
                    <td colspan="1"><%= @review.sale_date%></td>
                    <td colspan="2"><%= @review.contract_price%></td>
                  </tr>
                  <tr>
                    <th scope="row">引き渡し時期</th>
                    <td colspan="1"><%= @review.release_date %></td>
                    <td colspan="2">-</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<div class="my-1">
    <div><strong><%= @company_name %>について</strong></div>
    <div>企業名：<%= @company_name%></div>
    <div>郵便番号：<%= @office.post_number %></div>
    <div>住所：<%= @office.address %></div>
    <div>電話番号：<%= @office.phone_number%></div>
    <div>FAX:<%= @office.fax_number %></div>
    <div>営業時間：<%= @office.business_time %></div>
    <div>定休日：<%= @office.regular_holiday %></div>
</div>
<div class="mx-auto mt-3 mb-3" style="width: 200px">
    <%= link_to '査定依頼をする', "/assessment_requests?branch_id=#{@office.id}&property_city=#{@office.prefecture_id}", class: 'btn btn-primary form-control' %>
</div>
<% end %>
