<% @companies.each do |company| %>
    <div class="border">
        <div class="row my-3">
            <div class="col-lg-2">
                <div><%= company.name %></div>
                <div>★<%= "4.5" %></div>
            </div>
            <div class="col">
                <div>営業時間：<%= "9:00-18:00" %></div>
                <div>定休日：<%= "水曜日" %></div>
                <div>住所：<%= "東京都港区六本木2丁目3-2" %></div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-2">
                <div><%= "会社の決め手:" %></div>
            </div>
            <div class="col"><%= "最初の問い合わせからレスポンスが早かった。また、唯一営業担当者が出向いてくださり、顔を合わせてお話ししたことが大きかったです。"%></div>
        </div>
    </div>
<% end %>