<div>
    <div><%= "スムーズな取引ができました" %>：★<%= "5" %></div>
    <div><%= "ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。" %></div>
    <div>成約価格 <%= "1,500万円" %>（<%= "千葉県川市" %>・<%= "2019年2月"%>に売却）</div>
</div>