<% @reviews.each do |review| %>
    <div class="border my-3">
        <div><strong><%=  review.headline %>：★<%= review.contract_price_satisfaction %></strong></div>
        <div><%= review.reason_for_support_satiosfaction %></div>
        <div class=" offset-lg-7">
            成約価格 <%= review.contract_price %>（<%= review.city.name %>・<%= review.sale_date%>に売却）
        </div>
    </div>
<% end %>