<% content_for :title, "企業口コミページ" %>
<% content_for :description, "不動産会社の情報を見ることができます" %>
<% breadcrumb :offices %>
<% if @office %>
    <% if @office.reviews.order(release_date: :desc).first %>
        <h1><%= @company.name %>・<%= @office.name.present? ? @office.name : "本店" %></h1>
        <div class="row my-3">
            <div class="col">
                <div><%= @office.catch_copy %></div>
                <div><%= @office.introducion %></div>
            </div>
            <div class="col"><%= image_tag @office.logo_url, alt: "企業アイコン" %></div>
        </div>
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <div data-controller="chart" 
                    data-chart-rader-value='<%= @chart_data.to_json %>'
                >
                    <canvas 
                        data-chart-target="canvas"
                    ></canvas>
                </div>
            </div>

            <div class="col">
                <div><strong><%= @company.name %>について</strong></div>
                <div>企業名：<%= @company.name%></div>
                <div>郵便番号：<%= @office.post_number %></div>
                <div>住所：<%= @office.address %></div>
                <div>電話番号：<%= @office.phone_number%></div>
                <div>FAX:<%= @office.fax_number %></div>
                <div>営業時間：<%= @office.business_time %></div>
                <div>定休日：<%= @office.regular_holiday %></div>
            </div>
        </div>
        <div>
            <div><strong><%= @company.name %>で売却したひとの不動産会社についての口コミ（平均評価★<%= @average_satisfaction %>）</strong></div>
            <%= render 'shared/review_card' %>
        </div>
    <% end %>
<% end %>
<div class="mx-auto" style="width: 200px">
    <%= link_to '査定依頼をする', "/assessment_requests?branch_id=#{@office.id}&property_city=#{@office.prefecture_id}", class: 'btn btn-primary form-control' %>
</div>